---
layout: default
title: "IUT Bordeaux Montaigne"
description: "L’IUT Bordeaux Montaigne, le plus court chemin pour aller loin"
permalink: /
hero_image: /assets/images/uploads/iut.png
hero_image_mobile: /assets/images/uploads/iut-mobile.png
---

{% assign lang = page.lang | default: site.lang %}
{% assign trad = site.data.languages[lang] %}

{% include hero.html title=page.description %}

<div class="container">

  <section class="mb-6">
    <div class="top">
      <h2>{{ trad.news.title }}</h2>
      <a href="/actualites" class="link link--more">{{ trad.news.more }}</a>
    </div>
    <div class="row row-cols-md-2">
      {% for post in site.posts limit:2 %}
        <div class="col">
          {% include post.html %}
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="mb-6">
    <div class="top">
      <h2>{{ trad.institut.title }}</h2>
    </div>
    <div class="row mb-6">
      <div class="col-md-6">
        <blockquote class="blockquote">
          <p>Portée par l’exigence académique et le souci de l’efficacité professionnelle, notre mission est de former nos étudiantes et nos étudiants à devenir des cadres intermédiaires investis, rigoureux, polyvalents, créatifs. C’est pourquoi notre pédagogie, au cœur des sciences humaines et sociales, s’appuie sur la conduite de projets et privilégie un apprentissage des compétences, tourné vers l’emploi.</p>
          <cite>Isabelle Cousserand-Blin<br> directrice de l’IUT Bordeaux Montaigne</cite>
        </blockquote>
      </div>
      <div class="col-md-4 offset-md-2">
        {% assign parent_institut = site.institut | where: 'layout', 'subpage' %}
        <ul class="nav flex-column">
          {% for institut in parent_institut %}
            <li class="nav-item"><a href="{{ institut.url }}" class="nav-link link--more">{{ institut.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="mb-6">
    <div class="top">
      <h2>{{ trad.diplomes.title }}</h2>
    </div>
    <div class="row row-cols-md-2">
      {% assign parent_diplomes = site.pages | where: 'parent', site.data.pages.diplomes %}
      {% for article in parent_diplomes %}
        <div class="col">
          {% include article.html %}
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="mb-6">
    <div class="top">
      <h2>{{ trad.recherche.title }}</h2>
    </div>
    <div class="row row-cols-md-2">
      {% for post in site.recherche %}
        <div class="col">
          {% include article.html %}
        </div>
      {% endfor %}
    </div>
  </section>

</div>
