title: IUT Bordeaux Montaigne
description: "L’IUT Bordeaux Montaigne, le plus court chemin pour aller loin"
lang: fr
url: "https://bordeauxmontaigne-iut.netlify.app"

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - package.json
  - yarn.lock

plugins:
  - jekyll-minifier
  - jekyll-paginate-v2
  - jekyll-include-cache
  - jekyll-sitemap

sass:
    style: compressed

jekyll-minifier:
  remove_spaces_inside_tags: true
  remove_multi_spaces: true
  remove_intertag_spaces: true
  remove_comments: true
  compress_css: false
  compress_javascript: false
  uglifier_args:
    harmony: true

picture:
  ignore_missing_images: true
  source: "assets/images/"


defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  -
    scope:
      path: ""
      type: "categories"
    values:
      layout: "category"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

collections:
  authors:
    output: true
    permalink: /:collection/:name
  categories:
    output: true
    permalink: /actualites/:name
  pages:
    output: true
  posts:
    output: true
    permalink: /actualites/:year/:month/:day/:title

pagination:
  enabled: true
  per_page: 12
  permalink: '/:num/'
  sort_field: 'date'
  sort_reverse: true
  trail:
    before: 2 # The number of links before the current page
    after: 2  # The number of links after the current page
