title: IUT Bordeaux Montaigne
description: "L’IUT Bordeaux Montaigne, le plus court chemin pour aller loin"
lang: fr
url: "https://bordeauxmontaigne-iut.netlify.app"

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - package.json
  - yarn.lock

plugins:
  - jekyll-minifier
  - jekyll-paginate-v2
  - jekyll-include-cache
  - jekyll-sitemap

sass:
    style: compressed

jekyll-minifier:
  remove_spaces_inside_tags: true
  remove_multi_spaces: true
  remove_intertag_spaces: true
  remove_comments: true
  compress_css: false
  compress_javascript: false
  uglifier_args:
    harmony: true

picture:
  ignore_missing_images: true
  source: "assets/images/"

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  -
    scope:
      path: ""
      type: "categories"
    values:
      layout: "category"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

collections:
  authors:
    output: true
    permalink: /:collection/:name
  categories:
    output: true
    permalink: /actualites/:name
  pages:
    output: true
  posts:
    output: true
    permalink: /actualites/:year/:month/:day/:title

pagination:
  enabled: true
  per_page: 12
  permalink: '/:num/'
  sort_field: 'date'
  sort_reverse: true
  trail:
    before: 2 # The number of links before the current page
    after: 2  # The number of links after the current page

autopages:
  enabled: true

  # Category pages, omit entire config element to disable
  categories:
    # Optional, the list of layouts that should be processed for every category found in the site
    layouts:
      - 'autopage_category.html'
    # Optional, the title that each category paginate page should get (:cat is replaced by the Category name)
    title: ':cat'
    # Optional, the permalink for the  pagination page (:cat is replaced),
    # the pagination permalink path is then appended to this permalink structure
    permalink: '/actualites/:cat'
    # Optional, when true logging related to category pages will be supressed.
    silent: false
    slugify:
      mode: 'latin'   # :cat is slugified. Modes: default, raw, pretty, ascii, latin
      case: false       # Whether to replace all uppercase letters with their lowercase counterparts
