title: IUT Bordeaux Montaigne
description: "L’IUT Bordeaux Montaigne, le plus court chemin pour aller loin"
lang: fr

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - package.json
  - yarn.lock

plugins:
  - jekyll-minifier

sass:
    style: compressed

jekyll-minifier:
  remove_spaces_inside_tags: true
  remove_multi_spaces: true
  remove_intertag_spaces: true
  remove_comments: true
  compress_css: false
  compress_javascript: true

picture:
  ignore_missing_images: true

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

collections:
  pages:
    output: true
  posts:
    output: true
