---
layout: default
title: Actualités
description: Les actualités de l’IUT Bordeaux Montaigne
permalink: /actualites
pagination:
  enabled: true
---

{% assign lang = page.lang | default: site.lang %}
{% assign trad = site.data.locales[lang] %}

{% include hero.html title=page.title %}

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 gy-5">
    {% for post in paginator.posts %}
      <div class="col">
        {% include post.html %}
      </div>
    {% endfor %}
  </div>
  {% include pagination.html %}
</div>
