{% assign crumbs = page.url | remove:'/index' | split: '/' %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      {% if crumbs.size > 1 %}
        <a href="/">{{ trad.home }}</a>
      {% else %}
        {{ trad.home }}
      {% endif %}
    </li>
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
      {% else %}
        <li class="breadcrumb-item">
          {% assign crumb_limit = forloop.index | plus: 1 %}
          {% assign crumb_url = '' %}
          {% for crumb in crumbs limit: crumb_limit %}
            {% assign crumb_url = crumb | append: '/' %}
          {% endfor %}
          <a href="{{ crumb_url | absolute_url }}">
            {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
