<ul class="{{ include.class }} nav-level-{{ include.level }}">
  {% for category in include.categories %}
    <li class="nav-item">
      <a href="{{ category.link }}" class="nav-link">{{ category.name }}</a>
      {% assign children_categories = site.data.categories | where: "parent", category.identifier | sort: "position" %}
      {% if children_categories.size > 0 %}
        {% assign level = include.level | plus: 1 %}
        {% include categories.html categories=children_categories level=level %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
