<footer class="footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4">
        <a href="/"><img src="/assets/images/logo.svg" alt="{{site.title}}"></a>
      </div>
      <div class="col-md-8">
        <address>
          Institut Universitaire de Technologie Bordeaux Montaigne<br>
          1 rue Jacques Ellul<br>
          33080 Bordeaux Cedex<br>
          France<br>
          +33 5 57 12 20 44
        </address>
      </div>
    </div>
    <div class="row row-cols-md-3">
      <div class="col">
        <div class="footer__title">
          <a href="/institut">Institut</a>
        </div>
        <ul class="nav flex-column">
          {% for item in site.institut %}
            <li class="nav-item">
              <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col">
        <div class="footer__title">
          <a href="/diplomes">Diplômes</a>
        </div>
        <ul class="nav flex-column">
          {% assign parent_diplomes = site.diplomes | where: 'layout', 'subpage' %}
          {% for item in parent_diplomes %}
            <li class="nav-item">
              <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col">
        <div class="footer__title">
          <a href="/recherche">Recherche</a>
        </div>
        <ul class="nav flex-column mb-5">
          {% for item in site.recherche %}
            <li class="nav-item">
              <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="footer__title mb-5">
          <a href="/actualites">Actualités</a>
        </div>
        <div class="footer__title">
          <p>Légal</p>
        </div>
        <ul class="nav flex-column">
        {% for item in site.data.menus.legal %}
          <li class="nav-item">
            <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
