<footer class="footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4">
        <a href="/"><img src="/assets/images/logo-glyph.svg" alt="{{site.title}}" width="257" height="158"></a>
      </div>
      <div class="col-md-8">
        <address>
          Institut Universitaire de Technologie<br>
          Bordeaux Montaigne<br>
          1 rue Jacques Ellul<br>
          33080 Bordeaux Cedex<br>
          France<br>
          +33 5 57 12 20 44
        </address>
      </div>
    </div>
    <ul class="nav grid">
      {% for item in site.data.menus.primary %}
        {% assign children = item.children %}
        <li class="nav-item">
          {% if children %}
            <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
            <ul class="nav-2">
              {% for child in children %}
                {% assign grandchildren = child.children %}
                <li class="nav-item">
                  <a href="{{child.url}}" class="nav-link">{{child.title}}</a>
                  {% if grandchildren %}
                  <ul class="nav-3">
                    {% for grandchild in grandchildren %}
                    <li class="nav-item">
                      <a href="{{child.url}}" class="nav-link">{{grandchild.title}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <a href="{{ item.url }}" class="nav-link" id="{{ item.title | slugify }}">{{ item.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</footer>
