{% assign lang = page.lang | default: site.lang %}
{% assign trad = site.data.locales[lang] %}
<header class="hero"{% if page.color %} style="background-color: {{page.color}} "{% endif %}>
  {% if include.image %}
    {% include image.html
        image=include.image
        size_mobile='375x450'
        size_tablet='768x450'
        size_desktop='x450'
        lazy=false
        class='hero__image' %}
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 itemprop="headline">{{ include.title }}</h1>
      </div>
    </div>
    <div class="hero__nav">
      {{ page | breadcrumb }}
      {% if include.filter %}
        {% include filter.html %}
      {% endif %}
    </div>
  </div>
</header>
