{% if include.image %}

  {% assign directory = include.image | slice: 0, 2 %}
  {% assign image = site.data.media[directory][include.image] %}
  {% assign image_url = image.url %}
  {% assign image_width = image.width %}
  {% assign image_height = image.height %}

  {% assign image_class = include.class | default: false %}
  {% assign image_lazy = include.lazy | default: true %}
  {% assign image_alt = include.alt | default: '' %}

  {% assign image_size_mobile = include.size_mobile | default: false %}
  {% assign image_size_tablet = include.size_tablet | default: false %}
  {% assign image_size_desktop = include.size_desktop | default: false %}

  <picture>
    <source srcset="{{ image_url | img_url: image_size_desktop, format: 'webp' }}, {{ image_url | img_url: image_size_desktop, scale: 2, format: 'webp' }} 2x" media="(min-width: 1024px)" type"image/webp">
    <source srcset="{{ image_url | img_url: image_size_tablet, crop: 'center', format: 'webp' }}, {{ image_url | img_url: image_size_tablet, crop: 'center', scale: 2, format: 'webp' }} 2x" media="(min-width: 768px)" type"image/webp">
    <source srcset="{{ image_url | img_url: image_size_mobile, crop: 'center', format: 'webp' }}, {{ image_url | img_url: image_size_mobile, crop: 'center', scale: 2, format: 'webp' }} 2x" type"image/webp">

    <source srcset="{{ image_url | img_url: image_size_desktop }}, {{ image_url | img_url: image_size_desktop, scale: 2 }} 2x" media="(min-width: 1024px)">
    <source srcset="{{ image_url | img_url: image_size_tablet, crop: 'center' }}, {{ image_url | img_url: image_size_tablet, crop: 'center', scale: 2 }} 2x" media="(min-width: 768px)">
    <source srcset="{{ image_url | img_url: image_size_mobile, crop: 'center' }}, {{ image_url | img_url: image_size_mobile, crop: 'center', scale: 2 }} 2x">

    <img src="{{ image_url | img_url: image_size_desktop }}"
      {% if image_class %}class="{{ image_class }}"{% endif %}
      {% if image_lazy %}loading="lazy"{% endif %}
      alt="{{ image_alt }}"
      height="{{image_height}}"
      width="{{ image_width }}">
  </picture>

{% endif %}
