{% assign lang = page.lang | default: site.lang %}
{% assign trad = site.data.languages[lang] %}

{% if paginator.total_pages > 1 %}
<nav aria-label="{{ trad.pagination }}">
  <ul class="pagination justify-content-center">

    {% if paginator.previous_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.previous_page_path }}">{{ trad.previous }}</a>
      </li>
    {% endif %}

    {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path }}">{{ trad.next }}</a>
      </li>
    {% endif %}

  </ul>
</nav>
{% endif %}
