{% assign lang = page.lang | default: site.lang %}
{% assign trad = site.data.locales[lang] %}

{% if paginator.total_pages > 1 %}
<nav aria-label="{{ trad.pagination }}" class="mt-5">
  <ul class="pagination justify-content-center">
    {% assign blog_url = "/actualites/" %}
    {% assign second_to_last_page_number = paginator.total_pages | times: 1 | minus: 1 %}

    <!-- This generates an array of all of the numbers in the trail -->
    {% assign trail_page_numbers = "" | split: ',' %}
    {% for trail in paginator.page_trail %}
      {% assign trail_page_numbers = trail_page_numbers | push: trail.num %}
    {% endfor %}

    <!-- Show the button to the previous page -->
    {% if paginator.previous_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    {% endif %}

    <!-- Always show the first page -->
    {% unless trail_page_numbers contains 1 %}
      <li class="page-item">
        <a class="page-link" href="{{ url }}">1</a>
      </li>
    {% endunless %}

    <!-- If there's space between the trail and the first page, then show ... -->
    {% unless trail_page_numbers contains 2 %}
      <li class="page-item disabled">
        <span class="page-link">…</span>
      </li>
    {% endunless %}

    <!-- Loop through the trail -->
    {% for trail in paginator.page_trail %}
      {% assign page_number = trail.num %}
      {% if trail.num == paginator.page %}
        <li class="page-item active">
          <span class="page-link">{{ page_number }}</span>
        </li>
      {% else %}
        {% assign url = blog_url | append: page_number | append: "/" %}
        <li class="page-item">
          <a class="page-link" href="{{ url }}">{{ page_number }}</a>
        </li>
      {% endif %}
    {% endfor %}

    <!-- If there's space between the trail and the last page, then show ... -->
    {% unless trail_page_numbers contains second_to_last_page_number %}
      <li class="page-item disabled">
        <span class="page-link">…</span>
      </li>
    {% endunless %}

    <!-- Always show the last page -->
    {% unless trail_page_numbers contains paginator.total_pages %}
      {% assign page_number = paginator.total_pages %}
      {% assign url = blog_url | append: page_number | append: "/" %}
      <li class="page-item">
        <a class="page-link" href="{{ url }}">{{ page_number }}</a>
      </li>
    {% endunless %}

    <!-- Show the button to the next page -->
    {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
    {% endif %}

  </ul>
</nav>
{% endif %}
