{% assign lang = page.lang | default: site.lang %}
{% assign trad = site.data.locales[lang] %}

<article class="card">
  <div class="card-media">
    {% if post.image %}
      {% include image.html
          image=include.image
          image_alt=include.image_alt
          size_mobile='375x450'
          size_tablet='334x167'
          size_desktop='634x317' %}
    {% else %}
      {% picture thumb default.jpg %}
    {% endif %}
  </div>
  <div class="card-body">
    <p class="card-title">{{ include.title }}</p>
    <time datetime="{{ include.date | date: '%Y-%m-%d %H:%M' }}">
      {% if lang == 'fr' %}
        {{ include.date | date: "%d/%m/%Y" }}
      {% else %}
        {{ include.date | date_to_string: "ordinal", "US" }}
      {% endif %}
    </time>
    <a href="{{ include.url }}" class="stretched-link link link--more">{{trad.more}}</a>
  </div>
</article>
