<div class="card">
  <div class="card-media">
    {% if post.image %}
      {% include image.html
          image=include.image
          size_mobile='375x450'
          size_tablet='334x167'
          size_desktop='634x317'
          class='img-fluid' %}
    {% else %}
      {% picture thumb default.jpg %}
    {% endif %}
  </div>
  <div class="card-body">
    <p class="card-title">{{ include.title }}</p>
    <a href="{{ include.url }}" class="stretched-link link link--more">{{trad.more}}</a>
  </div>
</div>
