{% if include.level == 1 %}
  <div class="row row-cols-1 row-cols-md-2">
{% endif %}

  {% for program in include.programs %}

    {% if include.level == 1 %}
      <div class="col-md-8{% unless forloop.first %} mt-6{% endunless %}">
        {% include program.html
            url = program.permalink
            title = program.title
            description = program.description
            title_tag = "h2"
            %}
      </div>
      {% assign level = include.level | plus: 1 %}
      {% assign children = site.programs | where: "parent", program.identifier | sort: "position" %}
      {% include programs.html programs=children level=level %}
    {% else %}
      <div class="col">
        {% include program.html
            url = program.permalink
            title = program.title
            description = program.description
            image = program.image
            image_alt = program.image_alt
            %}
      </div>
    {% endif %}

  {% endfor %}

{% if include.level == 1 %}
  </div>
{% endif %}
