{% assign title_tag = "p" %}
{% if include.title_tag %}
  {% assign title_tag = include.title_tag %}
{% endif %}

<div class="card card--program">

  {% if include.image %}
    <div class="card-media">
      {% include image.html
          image=include.image
          image_alt=include.image_alt
          size_mobile='349x244'
          size_tablet='154x108'
          size_desktop='304x213' %}
    </div>
  {% endif %}

  <div class="card-body">
    <{{title_tag}} class="card-title "><a href="{{ include.url }}"{% if title_tag == 'p' %} class="link link--more"{% endif %}>{{ include.title }}</a></{{title_tag}}>
    {% if include.description != "" %}
      <p class="card-text">{{ include.description | strip_newlines | strip_html | truncate: 120 }}</p>
    {% endif %}
  </div>
</div>
