@font-face
    font-display: swap
    font-family: 'Aestetico'
    font-style: normal
    font-weight: 400
    src: url('../fonts/aestetico/font.woff2') format("woff2"), url('../fonts/aestetico/font.woff') format("woff")

@font-face
    font-display: swap
    font-family: 'Calvino'
    font-style: normal
    font-weight: 400
    src: url('../fonts/calvino/Calvino-Book.woff2') format("woff2"), url('../fonts/calvino/Calvino-Book.woff') format("woff")

@font-face
    font-display: swap
    font-family: 'Calvino'
    font-style: italic
    font-weight: 400
    src: url('../fonts/calvino/Calvino-Book-Italic.woff2') format("woff2"), url('../calvino/Calvino-Book-Italic.woff') format("woff")

@font-face
    font-display: swap
    font-family: 'Calvino'
    font-style: normal
    font-weight: 700
    src: url('../fonts/calvino/Calvino-Bold.woff2') format("woff2"), url('../calvino/Calvino-Bold.woff') format("woff")
