<footer class="footer">
  <div class="container">
    <div class="row mb-5" itemscope itemtype="https://schema.org/CollegeOrUniversity">
      <div class="col-md-4">
        <a href="/"><img src="/assets/images/logo-glyph.svg" alt="{{site.title}}" width="257" height="158" itemprop="logo"></a>
      </div>
      <div class="col-md-8">
        <address>
          <span itemprop="name">{{ site.data.school.name }}</span>
          <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <span itemprop="streetAddress">{{ site.data.school.address }}</span><br>
            <span itemprop="postalCode">{{ site.data.school.zipcode }}</span> <span itemprop="addressLocality">{{ site.data.school.city }}</span><br>
            <span itemprop="addressCountry">{{ site.data.school.country }}</span>
          </div>
          <span itemprop="telephone">{{ site.data.school.phone }}</span>
        </address>
      </div>
    </div>
    {% include menu.html items=site.data.menus.primary level=1 class="nav grid" show_legals=true %}
  </div>
</footer>
