.footer
    background-color: $light
    padding-bottom: $grid-gutter-width * 2.5
    padding-top: $grid-gutter-width * 2.5

    address
        font-size: px2rem(14)

    &__title
        border-bottom: 1px solid $border-color
        margin-bottom:  $grid-gutter-width / 2
        padding-bottom:  $grid-gutter-width / 2
        > *
            @extend .h2
            margin-bottom: 0
            text-decoration: none

    ul ul
        margin-bottom: $grid-gutter-width

    .nav > li > a
        font-size: px2rem(18)

    .nav-link
        font-size: px2rem(14)
