.footer
    background-color: $light
    padding-bottom: $grid-gutter-width * 2.5
    padding-top: $grid-gutter-width * 2.5

    .h2
        border-bottom: 1px solid $border-color
        padding-bottom:  $grid-gutter-width
