.header
    .nav-link
        font-size: px2rem(18)
    .dropdown
        position: static
        &-menu
            margin-top: 0
            right: 0
    ul
        list-style: none

    @include media-breakpoint-up(md)
        .dropdown-menu
            min-height: 450px
