.hero
    align-items: flex-end
    background-color: $gray-500
    color: $white
    display: flex
    height: 450px
    margin-bottom: $grid-gutter-width * 2.5
    overflow: hidden
    padding-bottom: $grid-gutter-width * 2.5
    position: relative
    &__image
        bottom: 0
        left: 0
        object-fit: cover
        opacity: .5
        position: absolute
        right: 0
        top: 0
    .container
        position: relative
