---
layout: default
---

{% assign lang = page.lang | default: site.lang %}
{% assign trad = site.data.languages[lang] %}

<article itemscope itemtype="https://schema.org/Article">
  {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

  {% include hero.html %}

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {%- if page.toc -%}
        <ol class="nav toc" id="nav-toc">
          {%- for toc in page.toc -%}
          <li class="nav-item">
            <a href="#{{ toc | slugify }}" class="nav-link">{{toc}}</a>
          </li>
          {%- endfor -%}
        </ol>
        {%- endif -%}
      </div>
      <div class="col-md-8">
        {%- if page.image -%}
        {%- endif -%}
        <div itemprop="articleBody" data-bs-spy="scroll" data-bs-target="#nav-toc" data-bs-offset="0" tabindex="0">
          {{ content }}
        </div>
       </div>
    </div>
  </div>
</article>
