---
layout: default
schema:
  itemtype: Person
pagination:
  enabled: true
---

{% assign posts = site.posts | where: 'author', page.identifier %}

<meta itemprop="name" content="{{page.title}}">

<div class="container">

 {% if page.image %}
   {% assign directory = page.image | slice: 0, 2 %}
   {% assign image_url = site.data.media[directory][page.image].url %}
   <img src="{{image_url}}" alt="" class="img-fluid mb-4" itemprop="image">
 {% endif %}

 {% if page.biography %}
 <div itemprop="articleBody">
   {{ page.biography | correct_punctuation }}
 </div>
 {% endif %}

{% include posts.html %}

</div>
