---
layout: default
---

{% assign lang = page.lang | default: site.lang %}
{% assign trad = site.data.locales[lang] %}
{% assign posts = site.posts | where_exp: 'post', 'post.categories contains page.identifier' %}

{% include hero.html title=page.title %}

<div class="container">
  {% if posts.size > 0 %}
    <div class="row row-cols-1 row-cols-md-2 gy-5">
      {% for post in posts %}
        <div class="col">
          {% include post.html
              image=post.image
              title=post.title
              url=post.url %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
