{% assign lang = page.lang | default: site.lang %}
{% assign trad = site.data.locales[lang] %}
<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include layout/preload.html %}
    {% include layout/css.html %}
    {% include layout/seo.html %}
    {% include layout/ga.html %}
  </head>
  {% assign body_class = page.url | remove:'/index' | remove: '.html' | split: '/' %}
  <body class="{{ body_class[1] | default: 'home' }}"{% if layout.scrollspy %} data-bs-spy="scroll" data-bs-target="#nav-toc" data-bs-offset="0"{% endif %}>
    {% include layout/nav-accessibility.html %}
    {% include layout/header.html %}

    <main class="main" id="main" aria-label="Content">
      {% if layout.schema %}
        <article itemscope itemtype="https://schema.org/{{ layout.schema.itemtype }}">
      {% endif %}

      {% unless layout.hide_hero %}
        {% include hero.html title=page.title image=page.image %}
      {% endunless %}

      {{ content }}

      {% if layout.schema %}
        </article>
      {% endif %}
    </main>

    {% include layout/footer.html %}
    {% include layout/cookie-banner.html %}
    {% include layout/js.html %}
  </body>
</html>
