---
layout: default
hide_hero: true
---

{% include hero.html title=page.description image=page.image %}

<div class="container">

  {% for section in site.data.menus.primary %}

    <section class="mb-6">
      <div class="top">
        <h2><a href="{{ section.target }}">{{ section.title }}</a></h2>
        {% if section.kind == "news" or section.kind == "programs" %}
          <a href="{{ section.target }}" class="link link--more">
            {% if section.kind == "news" %}
              {{ trad.news.more }}
            {% elsif section.kind == "programs" %}
              {{ trad.programs.more }}
            {% endif %}
          </a>
        {% endif %}
      </div>
      {% if section.kind == "news" %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          {% for post in site.posts limit:6 %}
            <div class="col">
              {% include post.html
                  image=post.image
                  title=post.title
                  url=post.url %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        {% assign articles = section.children %}
        {% include articles.html %}
      {% endif %}

    </section>

  {% endfor %}

</div>
