---
layout: default
---

{% assign lang = page.lang | default: site.lang %}
{% assign trad = site.data.languages[lang] %}

<article itemscope itemtype="https://schema.org/Article">
  {% if page.excerpt %}<meta itemprop="description" content="{{ page.description | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

  {% include hero.html %}

  <div class="container">
     <div class="row">
         <div class="col-md-3">
            <table class="table">
              <tr>
                <th>ID</th>
                {% assign this = page.path | remove: '.html' | remove: '_pages/'  %}
                <td>{{ this }}</td>
              </tr>
              <tr>
                <th>ID parent</th>
                <td>{{ page.parent }}</td>
              </tr>
              <tr>
                <th>Permalink</th>
                <td>{{ page.permalink }}</td>
              </tr>
              <tr>
                <th>Title</th>
                <td>{{ page.title }}</td>
              </tr>
              <tr>
                <th>Parent</th>
                {% assign parent_path = page.parent | prepend: "_pages/" | append: ".html" %}
                {% assign parent = site[page.collection] | where: 'path', parent_path | first %}
                <td><a href="{{ parent.url }}">{{ parent.title }}</a></td>
              </tr>
            </table>
         </div>
         <div class="offset-md-1 col-md-8">
             {% if page.text %}
             <div itemprop="articleBody">
               {{page.text}}
             </div>
             {% endif %}

             {% assign children = site[page.collection] | where: 'parent', this %}
             {% if children.size > 0 %}
             <hr class="my-5">
             <div class="row">
                 {% for child in children %}
                 <div class="col-md-6 mb-4">
                     <a href="{{ child.url }}">{{ child.title }}</a>
                 </div>
                 {% endfor %}
             </div>
             {% endif %}
         </div>
     </div>
  </div>
</article>
