---
layout: default
color: "#CA0051"
schema:
  itemtype: EducationalOccupationalProgram
scrollspy: true
---

{% assign text = '' %}
{% for part in site.data.programs %}
  {% assign chapter = '' %}
  {% for variable in part.content %}
    {% assign chapter = chapter | append: page[variable] %}
  {% endfor %}
  {% if chapter != '' %}
    {% assign text = text | append: '<h2>' | append: part.title | append: '</h2>' | append: chapter %}
  {% endif %}
{% endfor %}

{% assign children = site.programs | where: 'parent', page.identifier %}

<meta itemprop="name" content="{{page.title}}">
<meta itemprop="url" content="{{ page.url | absolute_url }}">

<div class="container">
 <div class="row">
   <div class="col-md-4">
     <ul class='nav toc' id='nav-toc'>
       {{text | page_nav_links}}

       {% if children.size > 0 %}
         <li class="nav-item">
           <a class="nav-link" href="#page-detail">En détail</a>
         </li>
       {% endif %}

      {% if page.related_category %}
        {% assign category = site.data.categories | where: 'identifier', page.related_category | first %}
        {% assign posts = site.posts | where_exp: 'post', 'post.categories contains page.related_category' %}
        <li class="nav-item">
          <a class="nav-link" href="#page-news">Actualités de la catégorie</a>
        </li>
      {% endif %}
     </ul>
   </div>
   <div class="col-md-8">
     <div itemprop="articleBody">
       {{text | page_nav_text_with_ids | correct_punctuation}}
       {{ content }}
     </div>

     {% if children.size > 0 %}
       <hr class="mt-5 mb-0">
       <div class="top">
         <h2 id="page-detail">En détail</h2>
       </div>
       <div class="row row-cols-md-2 g-3">
           {% for child in children %}
           <div class="col">
               <a href="{{ child.url }}">{{ child.title }}</a>
           </div>
           {% endfor %}
       </div>
     {% endif %}

     {% if page.related_category %}
       {% assign category = site.data.categories | where: 'identifier', page.related_category | first %}
       {% assign posts = site.posts | where_exp: 'post', 'post.categories contains page.related_category' %}
       <hr class="mt-5 mb-0">
       <div class="top">
         <h2 id="page-news">Actualités</h2>
         <a href="{{ category.link }}" class="link link--more">{{ trad.news.more }} « {{ category.name }} »</a>
       </div>
       <div class="row row-cols-md-2 g-3">
           {% for post in posts limit:4 %}
           <div class="col">
             {% include post.html
                 image=post.image
                 title=post.title
                 url=post.url %}
           </div>
           {% endfor %}
       </div>
     {% endif %}

    </div>
  </div>
</div>
